# Starbucks Capstone Challenge

### Introduction

This data set contains simulated data that mimics customer behavior on the Starbucks rewards mobile app. Once every few days, Starbucks sends out an offer to users of the mobile app. An offer can be merely an advertisement for a drink or an actual offer such as a discount or BOGO (buy one get one free). Some users might not receive any offer during certain weeks. 

Not all users receive the same offer, and that is the challenge to solve with this data set.

Your task is to combine transaction, demographic and offer data to determine which demographic groups respond best to which offer type. This data set is a simplified version of the real Starbucks app because the underlying simulator only has one product whereas Starbucks actually sells dozens of products.

Every offer has a validity period before the offer expires. As an example, a BOGO offer might be valid for only 5 days. You'll see in the data set that informational offers have a validity period even though these ads are merely providing information about a product; for example, if an informational offer has 7 days of validity, you can assume the customer is feeling the influence of the offer for 7 days after receiving the advertisement.

You'll be given transactional data showing user purchases made on the app including the timestamp of purchase and the amount of money spent on a purchase. This transactional data also has a record for each offer that a user receives as well as a record for when a user actually views the offer. There are also records for when a user completes an offer. 

Keep in mind as well that someone using the app might make a purchase through the app without having received an offer or seen an offer.

### Example

To give an example, a user could receive a discount offer buy 10 dollars get 2 off on Monday. The offer is valid for 10 days from receipt. If the customer accumulates at least 10 dollars in purchases during the validity period, the customer completes the offer.

However, there are a few things to watch out for in this data set. Customers do not opt into the offers that they receive; in other words, a user can receive an offer, never actually view the offer, and still complete the offer. For example, a user might receive the "buy 10 dollars get 2 dollars off offer", but the user never opens the offer during the 10 day validity period. The customer spends 15 dollars during those ten days. There will be an offer completion record in the data set; however, the customer was not influenced by the offer because the customer never viewed the offer.

### Cleaning

This makes data cleaning especially important and tricky.

You'll also want to take into account that some demographic groups will make purchases even if they don't receive an offer. From a business perspective, if a customer is going to make a 10 dollar purchase without an offer anyway, you wouldn't want to send a buy 10 dollars get 2 dollars off offer. You'll want to try to assess what a certain demographic group will buy when not receiving any offers.

### Final Advice

Because this is a capstone project, you are free to analyze the data any way you see fit. For example, you could build a machine learning model that predicts how much someone will spend based on demographics and offer type. Or you could build a model that predicts whether or not someone will respond to an offer. Or, you don't need to build a machine learning model at all. You could develop a set of heuristics that determine what offer you should send to each customer (i.e., 75 percent of women customers who were 35 years old responded to offer A vs 40 percent from the same demographic to offer B, so send offer A).

# Data Sets

The data is contained in three files:

* portfolio.json - containing offer ids and meta data about each offer (duration, type, etc.)
* profile.json - demographic data for each customer
* transcript.json - records for transactions, offers received, offers viewed, and offers completed

Here is the schema and explanation of each variable in the files:

**portfolio.json**
* id (string) - offer id
* offer_type (string) - type of offer ie BOGO, discount, informational
* difficulty (int) - minimum required spend to complete an offer
* reward (int) - reward given for completing an offer
* duration (int) - time for offer to be open, in days
* channels (list of strings)

**profile.json**
* age (int) - age of the customer 
* became_member_on (int) - date when customer created an app account
* gender (str) - gender of the customer (note some entries contain 'O' for other rather than M or F)
* id (str) - customer id
* income (float) - customer's income

**transcript.json**
* event (str) - record description (ie transaction, offer received, offer viewed, etc.)
* person (str) - customer id
* time (int) - time in hours since start of test. The data begins at time t=0
* value - (dict of strings) - either an offer id or transaction amount depending on the record

**Note:** If you are using the workspace, you will need to go to the terminal and run the command `conda update pandas` before reading in the files. This is because the version of pandas in the workspace cannot read in the transcript.json file correctly, but the newest version of pandas can. You can access the termnal from the orange icon in the top left of this notebook.  

You can see how to access the terminal and how the install works using the two images below.  First you need to access the terminal:

<img src="pic1.png"/>

Then you will want to run the above command:

<img src="pic2.png"/>

Finally, when you enter back into the notebook (use the jupyter icon again), you should be able to run the below cell without any errors.

In [1]:
import pandas as pd
import numpy as np
import math
import json


from sklearn.preprocessing import LabelBinarizer, MultiLabelBinarizer
import seaborn as sns #For Data visualization

% matplotlib inline

# read in the json files
portfolio = pd.read_json('data/portfolio.json', orient='records', lines=True)
profile = pd.read_json('data/profile.json', orient='records', lines=True)
transcript = pd.read_json('data/transcript.json', orient='records', lines=True)

UsageError: Line magic function `%` not found.

In [12]:
from datetime import datetime
from sklearn.preprocessing import LabelBinarizer, MultiLabelBinarizer

### Rename Column:

In [13]:
def rename_cols(df, new_col_names):
    """
    INPUT
    ----------
    df: input dataframe for renaming columns
    new_col_names: define new column name for each column
    
    OUTPUT
    -------
    df: output data frame with renamed column names
       
    """

    df= df.rename(columns = new_col_names)
    return df

In [14]:
#rename portfolio columns
new_col_names_portfolio = {'difficulty':'offer_difficulty' , 'id':'offer_id', 
                 'duration':'offer_duration', 'reward': 'offer_reward'}
portfolio  = rename_cols(portfolio, new_col_names_portfolio )

#rename profile columns
new_col_profile = {'id':'customer_id' , 'income':'customer_income'}
profile = rename_cols(profile, new_col_profile )

# Rename Transcript columns
new_col_transcript = {'person': 'customer_id'}
transcript = rename_cols(transcript, new_col_transcript)

### Clean portfolio data

In [27]:
def clean_offertype(portfolio=portfolio):
    '''
    INPUT:
    portfolio - (pandas dataframe), portfolio data
    
    OUTPUT:
    portfolio - (pandas dataframe), cleaned portfolio data

    
    Description:
    This function cleans the dat and provides a DatFrame with Offer ID and other data about the offer. 
    '''    
    
    # One hot encode the 'offertype' column
    offertype = pd.get_dummies(portfolio['offer_type'])
    
    # One hot encode the 'channels' columns
    mlb = MultiLabelBinarizer()
    mlb_fit = mlb.fit(portfolio['channels'])
    channels_df = pd.DataFrame(mlb_fit.transform(portfolio['channels']),columns=mlb_fit.classes_)
    
    #Drop the old 'channels' and 'offer_type' columns
    portfolio = portfolio.drop(columns=['channels', 'offer_type'])
    
    #Replace the 'offertype' and 'channels' columns
    portfolio = pd.concat([portfolio, offertype, channels_df], axis=1)
    
    
    #Reorder the columns order
    portfolio = portfolio[[ 'offer_id','offer_difficulty','offer_duration','offer_reward','bogo','discount',
                            'informational','email','mobile','social','web']]

    return portfolio

### Clean profile data

In [32]:
def clean_profile(profile = profile):
    
    #Removed those with no income data
    profile = profile[profile['customer_income'].notnull()]
    
    
    #Removed customer with unspecified Gender
    profile = profile[profile['gender'] != 'O']
    profile = profile.reset_index(drop=True)
    
    binarizerobj = LabelBinarizer()
    profile['gender'] = binarizerobj.fit_transform(profile['gender'])
    
    gender_integer_map = {}
    for i in binarizerobj.classes_:
        gender_integer_map[i] = binarizerobj.transform([i])[0,0]
        
        
    
    #Change datetype of bacame_member_on column
    profile['became_member_on'] = pd.to_datetime(profile['became_member_on'], format = '%Y%m%d')   
    #Encode the year values
    profile['membership_year'] = profile['became_member_on'].apply(lambda elem: elem.year)
    membership_year_df = pd.get_dummies(profile['membership_year'])
    
    
    #Group the age ranges
    labels = ['Generation Z','Millennials', 'Generation X', 'Baby Boomers', 'The Silent Generation']
    profile['age_group'] = pd.cut(profile['age'], bins=5, labels=labels)
    # Encode for Age ranges
    agerange_df = pd.get_dummies(profile['age_group'])
    
    # Appened all the encoded variables to the main dataframe
    profile = pd.concat([profile,
                         agerange_df,
                         membership_year_df], axis=1)

    # Drop depcreated columns
    profile = profile.drop(columns=['age',
                                    'age_group',
                                    'became_member_on',
                                    'membership_year'])    
    return profile

### Analyze transcript Data

In [33]:

def clean_transcript(transcript =transcript):
    
    # Remove customer id's that are not in the customer profile DataFrame
    select_data = transcript['customer_id'].isin(profile['customer_id'])
    transcript = transcript[select_data]
    
    # Convert from hours to days
    transcript['time'] /= 24.0    
    
    # Change'person' column name to 'customer_id'
    transcript = transcript.rename(columns={'time': 'time_in_days'})
    
    transcript['offerid'] =\
        transcript['value'].apply(lambda elem: list(elem.values())[0])
    
    #Create seperate Dataframes for Offers and Transactions
    
    #1.Create Dataframe for Transactions
    transactions = transcript[transcript['event']=='transaction'].drop(['value'], axis =1)
    transactions = transactions.rename(columns={'offerid': 'amount'})
    
    
    # One hot encode customer offer events
    transcript = transcript[transcript['event'].isin(['offer received' , 
                                                      'offer completed', 'offer viewed' ])].drop(['value'], axis =1)
    event_df = pd.get_dummies(transcript['event'])
    
    #2.Create Dataframe for offers

    offers = pd.concat([transcript,event_df], axis =1)
    offers = offers.drop(columns= ['event'])
    offers  = offers.rename(columns={'offer completed': 'completed','offer received':'received' , 'offer viewed': 'viewed'})
    offers = offers[['offerid','customer_id', 'time_in_days', 'completed',
           'received', 'viewed']]
    
    return offers, transactions

In [38]:
portfolio_clean = clean_offertype(portfolio)
profile_clean = clean_profile(profile)
offers, transactions = clean_transcript(transcript)

In [39]:
portfolio_clean.head(5)

,offer_id,offer_difficulty,offer_duration,offer_reward,bogo,discount,informational,email,mobile,social,web
0,ae264e3637204a6fb9bb56bc8210ddfd,10,7,10,1,0,0,1,1,1,0
1,4d5c57ea9a6940dd891ad53e9dbe8da0,10,5,10,1,0,0,1,1,1,1
2,3f207df678b143eea3cee63160fa8bed,0,4,0,0,0,1,1,1,0,1
3,9b98b8c7a33c4b65b9aebfe6a799e6d9,5,7,5,1,0,0,1,1,0,1
4,0b1e1539f2cc45b7b9fa7c272da2e1d7,20,10,5,0,1,0,1,0,0,1

In [40]:
profile_clean.head(5)

,gender,customer_id,customer_income,Generation Z,Millennials,Generation X,Baby Boomers,The Silent Generation,2013,2014,2015,2016,2017,2018
0,0,0610b486422d4921ae7d2bf64640c50b,112000.0,0,0,1,0,0,0,0,0,0,1,0
1,0,78afa995795e4d85b5d9ceeca43f5fef,100000.0,0,0,0,1,0,0,0,0,0,1,0
2,1,e2127556f4f64592b11af22de27a7932,70000.0,0,0,0,1,0,0,0,0,0,0,1
3,1,389bc3fa690240e798340f5a15918d5c,53000.0,0,0,1,0,0,0,0,0,0,0,1
4,1,2eeac8d8feae4a8cad5a6af0499a211d,51000.0,0,0,1,0,0,0,0,0,0,1,0

In [46]:
offers.head()

,offerid,customer_id,time_in_days,completed,received,viewed
0,9b98b8c7a33c4b65b9aebfe6a799e6d9,78afa995795e4d85b5d9ceeca43f5fef,0.0,0,1,0
1,0b1e1539f2cc45b7b9fa7c272da2e1d7,a03223e636434f42ac4c3df47e8bac43,0.0,0,1,0
2,2906b810c7d4411798c6938adc9daaa5,e2127556f4f64592b11af22de27a7932,0.0,0,1,0
3,fafdcd668e3743c1bb461111dcafc2a4,8ec6ce2a7e7949b1bf142def7d0e0586,0.0,0,1,0
4,4d5c57ea9a6940dd891ad53e9dbe8da0,68617ca6246f4fbc85e91a2a49552598,0.0,0,1,0

In [41]:
transactions.head(5)

             event                       customer_id  time_in_days amount
12654  transaction  02c083884c7d45b39cc68e1314fec56c           0.0   0.83
12657  transaction  9fa9ae8f57894cc9a3b8a9bbe0fc1b2f           0.0  34.56
12659  transaction  54890f68699049c2a04d415abc25e717           0.0  13.23
12670  transaction  b2f1cd155b864803ad8334cdf13c4bd2           0.0  19.51
12671  transaction  fe97aa22dd3e48c8b143116a8403dd52           0.0  18.97

In [49]:
test_merge= pd.merge(offers , transactions , on = 'customer_id' )

offers[offers['customer_id']=='78afa995795e4d85b5d9ceeca43f5fef']

,offerid,customer_id,time_in_days,completed,received,viewed
0,9b98b8c7a33c4b65b9aebfe6a799e6d9,78afa995795e4d85b5d9ceeca43f5fef,0.00,0,1,0
15561,9b98b8c7a33c4b65b9aebfe6a799e6d9,78afa995795e4d85b5d9ceeca43f5fef,0.25,0,0,1
47583,9b98b8c7a33c4b65b9aebfe6a799e6d9,78afa995795e4d85b5d9ceeca43f5fef,5.50,1,0,0
53176,5a8bc65990b245e5a138643cd4eb9837,78afa995795e4d85b5d9ceeca43f5fef,7.00,0,1,0
85291,5a8bc65990b245e5a138643cd4eb9837,78afa995795e4d85b5d9ceeca43f5fef,9.00,0,0,1
150598,ae264e3637204a6fb9bb56bc8210ddfd,78afa995795e4d85b5d9ceeca43f5fef,17.00,0,1,0
163375,ae264e3637204a6fb9bb56bc8210ddfd,78afa995795e4d85b5d9ceeca43f5fef,17.00,0,0,1
201572,f19421c1d4aa40978ebb69ca19b0e20d,78afa995795e4d85b5d9ceeca43f5fef,21.00,0,1,0
218394,ae264e3637204a6fb9bb56bc8210ddfd,78afa995795e4d85b5d9ceeca43f5fef,21.25,1,0,0
218395,f19421c1d4aa40978ebb69ca19b0e20d,78afa995795e4d85b5d9ceeca43f5fef,21.25,1,0,0
262138,f19421c1d4aa40978ebb69ca19b0e20d,78afa995795e4d85b5d9ceeca43f5fef,24.25,0,0,1

In [50]:
transactions[transactions['customer_id']=='78afa995795e4d85b5d9ceeca43f5fef']

              event                       customer_id  time_in_days amount
47582   transaction  78afa995795e4d85b5d9ceeca43f5fef          5.50  19.89
49502   transaction  78afa995795e4d85b5d9ceeca43f5fef          6.00  17.78
87134   transaction  78afa995795e4d85b5d9ceeca43f5fef          9.25  19.67
92104   transaction  78afa995795e4d85b5d9ceeca43f5fef         10.00  29.72
141566  transaction  78afa995795e4d85b5d9ceeca43f5fef         15.75  23.93
218393  transaction  78afa995795e4d85b5d9ceeca43f5fef         21.25  21.72
230412  transaction  78afa995795e4d85b5d9ceeca43f5fef         22.25  26.56

In [51]:
transcript

,event,customer_id,time,value
0,offer received,78afa995795e4d85b5d9ceeca43f5fef,0,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
1,offer received,a03223e636434f42ac4c3df47e8bac43,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
2,offer received,e2127556f4f64592b11af22de27a7932,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'}
3,offer received,8ec6ce2a7e7949b1bf142def7d0e0586,0,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'}
4,offer received,68617ca6246f4fbc85e91a2a49552598,0,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}
5,offer received,389bc3fa690240e798340f5a15918d5c,0,{'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'}
6,offer received,c4863c7985cf408faee930f111475da3,0,{'offer id': '2298d6c36e964ae4a3e7e9706d1fb8c2'}
7,offer received,2eeac8d8feae4a8cad5a6af0499a211d,0,{'offer id': '3f207df678b143eea3cee63160fa8bed'}
8,offer received,aa4862eba776480b8bb9c68455b8c2e1,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
9,offer received,31dda685af34476cad5bc968bdb01c53,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
10,offer received,744d603ef08c4f33af5a61c8c7628d1c,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
11,offer received,3d02345581554e81b7b289ab5e288078,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
12,offer received,4b0da7e80e5945209a1fdddfe813dbe0,0,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'}
13,offer received,c27e0d6ab72c455a8bb66d980963de60,0,{'offer id': '3f207df678b143eea3cee63160fa8bed'}
14,offer received,d53717f5400c4e84affdaeda9dd926b3,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
15,offer received,f806632c011441378d4646567f357a21,0,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'}
16,offer received,d058f73bf8674a26a95227db098147b1,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
17,offer received,65aba5c617294649aeb624da249e1ee5,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'}
18,offer received,ebe7ef46ea6f4963a7dd49f501b26779,0,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
19,offer received,1e9420836d554513ab90eba98552d0a9,0,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'}
20,offer received,868317b9be554cb18e50bc68484749a2,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'}
21,offer received,f082d80f0aac47a99173ba8ef8fc1909,0,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
22,offer received,102e9454054946fda62242d2e176fdce,0,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}
23,offer received,4beeb3ed64dd4898b0edf2f6b67426d3,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'}
24,offer received,9f30b375d7bd4c62a884ffe7034e09ee,0,{'offer id': '2298d6c36e964ae4a3e7e9706d1fb8c2'}
25,offer received,25c906289d154b66bf579693f89481c9,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'}
26,offer received,6e014185620b49bd98749f728747572f,0,{'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'}
27,offer received,02c083884c7d45b39cc68e1314fec56c,0,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'}
28,offer received,c0d210398dee4a0895b24444a5fcd1d2,0,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
29,offer received,8be4463721e14d7fa600686bf8c8b2ed,0,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'}
...,...,...,...,...
306504,transaction,8524d450673b4c24869b6c94380006de,714,{'amount': 4.89}
306505,transaction,b895c57e8cd047a8872ce02aa54759d6,714,{'amount': 4.48}
306506,offer completed,b895c57e8cd047a8872ce02aa54759d6,714,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...
306507,offer viewed,8dda575c2a1d44b9ac8e8b07b93d1f8e,714,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
306508,transaction,8431c16f8e1d440880db371a68f82dd0,714,{'amount': 1.19}
306509,offer completed,8431c16f8e1d440880db371a68f82dd0,714,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...
306510,transaction,ba620885e51c4b0ea64a4f61daad494f,714,{'amount': 14.31}
306511,transaction,a1a8f40407c444cc848468275308958a,714,{'amount': 2.37}
306512,transaction,8d80970192fa496f99d6b45c470a4b60,714,{'amount': 6.92}
306513,transaction,bde275066f3c4fa0bff3093e3b866a2c,714,{'amount': 12.73}
306514,transaction,f1e4fd36e5a0446f83861308bddf6945,714,{'amount': 8.2}
306515,transaction,0b64be3b241c4407a5c9a71781173829,714,{'amount': 2.6}
306516,transaction,86d03d35d7e0434b935e7743e83be3a0,714,{'amount': 9.2}
306517,transaction,3408fd05c781401f8442fb6dbaaea9c7,714,{'amount': 11.7}
306518,transaction,1593d617fac246ef8e50dbb0ffd77f5f,714,{'amount': 40.67}
306519,transaction,f1b31d07b5d84f69a2d5f1d07843989e,714,{'amount': 31.13}
306520,transaction,2ce987015ec0404a97ba333e8e814090,714,{'amount': 1.6400000000000001}
306521,transaction,2e33545f0a764d27b2ccff95fc8d72c4,714,{'amount': 17.35}
306522,transaction,d1c4500ace2e45e9a45d3cd2fccac8d8,714,{'amount': 4.42}
306523,transaction,b65affd9e07346a1906364a396950e3d,714,{'amount': 18.35}
306524,transaction,d613ca9c59dd42f497bdbf6178da54a7,714,{'amount': 25.14}
306525,transaction,eec70ab28af74a22a4aeb889c0317944,714,{'amount': 43.58}
306526,transaction,24f56b5e1849462093931b164eb803b5,714,{'amount': 22.64}
306527,offer completed,24f56b5e1849462093931b164eb803b5,714,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...
306528,transaction,5ca2620962114246ab218fc648eb3934,714,{'amount': 2.2}
306529,transaction,b3a1272bc9904337b331bf348c3e8c17,714,{'amount': 1.5899999999999999}
306530,transaction,68213b08d99a4ae1b0dcb72aebd9aa35,714,{'amount': 9.53}
306531,transaction,a00058cf10334a308c68e7631c529907,714,{'amount': 3.61}
306532,transaction,76ddbd6576844afe811f1a3c0fbb5bec,714,{'amount': 3.5300000000000002}
306533,transaction,c02b10e8752c4d8e9b73f918558531f7,714,{'amount': 4.05}